<template>
    <div>
        <h1>Hi {{account.user.user.name}}!</h1>
        <p>You're logged in with Vue + Laravel & JWT!!</p>
        <em v-if="todos.loading">Loading todos...</em>
        <span v-if="todos.error" class="text-danger">ERROR: {{todos.error}}</span>
        <ul v-if="todos.items">
            <li v-for="todo in todos.items" :key="todo.id">
                <span><b>Title:</b> {{todo.title}}</span>
                <span><b>Description:</b> {{todo.description}}</span>
                <span><router-link :to="{ name: 'Edit', params: { id: todo.id } }" class="btn btn-link">Edit</router-link></span>
                <span v-if="todo.deleting"><em> - Deleting...</em></span>
                <span v-else-if="todo.deleteError" class="text-danger"> - ERROR: {{todo.deleteError}}</span>
                <span v-else> - <a @click="deleteUser(todo.id)" class="text-danger">Delete</a></span>
            </li>
        </ul>
        <p>
            <router-link to="/store" class="btn btn-link">Add Todo</router-link>
            <router-link to="/login">Logout</router-link>
        </p>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    computed: {
        ...mapState({
            account: state => state.account,
            todos: state => state.users.all
        })
    },
    created () {
        this.getAllUsers();
    },
    methods: {
        ...mapActions('users', {
            getAllUsers: 'getAll',
            deleteUser: 'delete'
        })
    }
};
</script>