<template>
    <div>
        <h2>ToDo</h2>
        <form @submit.prevent="handleSubmit">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" v-model="title" name="title" class="form-control" :class="{ 'is-invalid': submitted && !title }" />
                <div v-show="submitted && !title" class="invalid-feedback">Title is required</div>
            </div>
            <div class="form-group">
                <label htmlFor="description">Description</label>
                <textarea v-model="description" name="description" class="form-control" :class="{ 'is-invalid': submitted && !description }" cols="30" rows="10"></textarea>
                <div v-show="submitted && !description" class="invalid-feedback">Description is required</div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" :disabled="status.submiting">Update</button>
                <router-link to="/" class="btn btn-link">Back to listing</router-link>
            </div>
        </form>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    data () {
        return {
            id: '',
            title: '',
            description: '',
            submitted: false
        }
    },
    methods: {
        ...mapActions('users', ['getById', 'update']),
        todo(){
            return this.getById(this.$route.params.id);
        },
        handleSubmit (e) {
            this.submitted = true;
            const { id, title, description } = this;
            if (id && title && description) {
                this.update({ id, title, description })
            }
        }
    }
};
</script>